@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono");

body {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

#app {
  width: 1920px;
  height: 2160px;
}

#topScreen {
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
}

/* #bottomScreen{

} */

/* TOP SCREEN */
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1457px;
  height: 1080px;
}

li {
  position: absolute;
  animation: xfade 72s infinite;
}

li img {
  border-radius: 50px;
}

li:nth-child(18) {
  animation-delay: 0s;
}
li:nth-child(17) {
  animation-delay: 4s;
}
li:nth-child(16) {
  animation-delay: 8s;
}
li:nth-child(15) {
  animation-delay: 12s;
}
li:nth-child(14) {
  animation-delay: 16s;
}
li:nth-child(13) {
  animation-delay: 20s;
}
li:nth-child(12) {
  animation-delay: 24s;
}
li:nth-child(11) {
  animation-delay: 28s;
}
li:nth-child(10) {
  animation-delay: 32s;
}
li:nth-child(9) {
  animation-delay: 36s;
}
li:nth-child(8) {
  animation-delay: 40s;
}
li:nth-child(7) {
  animation-delay: 44s;
}
li:nth-child(6) {
  animation-delay: 48s;
}
li:nth-child(5) {
  animation-delay: 52s;
}
li:nth-child(4) {
  animation-delay: 56s;
}
li:nth-child(3) {
  animation-delay: 60s;
}
li:nth-child(2) {
  animation-delay: 64s;
}
li:nth-child(1) {
  animation-delay: 68s;
}

@keyframes xfade {
  0% {
    opacity: 1;
  }
  4.166666666666666% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 0;
  }
  98.61111111111111% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #section1 {
  top: 99px;
  left: 0;
}

#section2 {
  top: 99px;
  right: 0;
} */
/* TOP SCREEN END */

section {
  width: 960px;
  height: 711px;
  overflow: hidden;
  position: absolute;
  /* background: rebeccapurple; */
}

/* BOTTOM SCREEN */
#section3 {
  bottom: 99px;
  left: 0;
}

#section4 {
  bottom: 99px;
  right: 0;
}

#section4 img {
  position: absolute;
}

#section5 {
  bottom: 99px;
  right: 0;
}

.testImg {
  clip-path: url(#clipPath1);
}

.testImg2 {
  clip-path: url(#clipPath2);
}

#overlay {
  /* color: rgb(255 255 255 / 44%);
  mix-blend-mode: color-dodge; */
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#textHolderP {
  font-family: "Red Hat Mono", monospace;
  font-weight: 700;
  white-space: nowrap;
}
#textHolderP span {
  color: red;
}

#fpsP {
  border: 1px solid white;
  align-self: flex-start;
  margin: 0 0 5px 0;
  padding: 3px 5px;
}

#controls {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 1em;
  line-height: 1.5em;
}

.control {
  display: flex;
  align-items: center;
}

.controlLabel {
  display: inline-block;
  width: 140px;
}

.control label {
  margin-right: 5px;
}

.control span {
  margin-left: 10px;
}

/* HIDE THE VIDEO */
#videoElement {
  background-color: #666;
  display: none;
  position: absolute;
}
