@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono");

body {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

#app {
  width: 1920px;
  height: 2160px;
}

/* TOP SCREEN */
#topScreen {
  width: 1920px;
  height: 1080px;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1457px;
  height: 1080px;
}

li img {
  border-radius: 50px;
}

/* PASTE GENERATIVE CSS HERE */
li {
  position: absolute;
  animation: xfade 162s infinite;
}

li:nth-child(18) {
  animation-delay: 0s;
}
li:nth-child(17) {
  animation-delay: 9s;
}
li:nth-child(16) {
  animation-delay: 18s;
}
li:nth-child(15) {
  animation-delay: 27s;
}
li:nth-child(14) {
  animation-delay: 36s;
}
li:nth-child(13) {
  animation-delay: 45s;
}
li:nth-child(12) {
  animation-delay: 54s;
}
li:nth-child(11) {
  animation-delay: 63s;
}
li:nth-child(10) {
  animation-delay: 72s;
}
li:nth-child(9) {
  animation-delay: 81s;
}
li:nth-child(8) {
  animation-delay: 90s;
}
li:nth-child(7) {
  animation-delay: 99s;
}
li:nth-child(6) {
  animation-delay: 108s;
}
li:nth-child(5) {
  animation-delay: 117s;
}
li:nth-child(4) {
  animation-delay: 126s;
}
li:nth-child(3) {
  animation-delay: 135s;
}
li:nth-child(2) {
  animation-delay: 144s;
}
li:nth-child(1) {
  animation-delay: 153s;
}

@keyframes xfade {
  0% {
    opacity: 1;
  }
  4.320987654320987% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 0;
  }
  98.76543209876543% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BOTTOM SCREEN */
#bottomScreen {
  width: 1920px;
  height: 1080px;
}

#canvas {
  margin: 0 auto;
}

/* #textHolderP {
  font-family: "Red Hat Mono", monospace;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 auto;
  width: 1457px;
  height: 1080px;
} */

/* CONTROLS */
#fpsP {
  border: 1px solid white;
  align-self: flex-start;
  margin: 0 0 5px 0;
  padding: 3px 5px;
}

#controls {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 1em;
  line-height: 1.5em;
}

.control {
  display: flex;
  align-items: center;
}

.controlLabel {
  display: inline-block;
  width: 140px;
}

.control label {
  margin-right: 5px;
}

.control span {
  margin-left: 10px;
}

/* HIDE THE VIDEO */
#videoElement {
  background-color: #666;
  display: none;
  position: absolute;
}

/*  */

/* #section1 {
  top: 99px;
  left: 0;
}

#section2 {
  top: 99px;
  right: 0;
} 
section {
  width: 960px;
  height: 711px;
  overflow: hidden;
  position: absolute;
  /* background: rebeccapurple;
}
#section3 {
  bottom: 99px;
  left: 0;
}

#section4 {
  bottom: 99px;
  right: 0;
}

#section4 img {
  position: absolute;
}

#section5 {
  bottom: 99px;
  right: 0;
}

.testImg {
  clip-path: url(#clipPath1);
}

.testImg2 {
  clip-path: url(#clipPath2);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}
*/
