@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono");

body {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

section {
  width: 960px;
  height: 711px;
  overflow: hidden;
  position: absolute;
  background: rebeccapurple;
}

/* TOP SCREEN */
#section1 {
  top: 99px;
  left: 0;
}

#section2 {
  top: 99px;
  right: 0;
}

/* BOTTOM SCREEN */
#section3 {
  bottom: 99px;
  left: 0;
}

#section4 {
  bottom: 99px;
  right: 0;
}

#section4 img {
  position: absolute;
}

#section5 {
  bottom: 99px;
  right: 0;
}

.testImg {
  clip-path: url(#clipPath1);
}

.testImg2 {
  clip-path: url(#clipPath2);
}

#overlay {
  /* color: rgb(255 255 255 / 44%);
  mix-blend-mode: color-dodge; */
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#textHolderP {
  font-family: "Red Hat Mono", monospace;
  font-weight: 700;
  white-space: nowrap;
}
#textHolderP span {
  color: red;
}

#fpsP {
  border: 1px solid white;
  align-self: flex-start;
  margin: 0 0 5px 0;
  padding: 3px 5px;
}

#controls {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 1em;
  line-height: 1.5em;
}

.control {
  display: flex;
  align-items: center;
}

.controlLabel {
  display: inline-block;
  width: 140px;
}

.control label {
  margin-right: 5px;
}

.control span {
  margin-left: 10px;
}

/* HIDE THE VIDEO */
#videoElement {
  background-color: #666;
  display: none;
  position: absolute;
}
